/** @format */

body {
  background: #f0f7f8;
  color: #112d4e;
}

.App-logo {
  max-width: 350px;
  display: block;
  margin: 0 auto;
  color: black;
}

.App-header {
  margin: 30px 0;
}

.App-footer {
  text-align: center;
  margin: 30px 0;
}
