/** @format */

.Phonetic {
  margin: 20px 0;
}

.Phonetic a {
  border: 1px solid #ddd;
  text-decoration: none;
  padding: 8px 15px;
  font-size: 13px;
  margin-right: 10px;
  font-weight: bold;
  border-radius: 20px;
  transition: all 150ms ease-in-out;
}

.Phonetic a {
  color: white;
  background-color: #181a1d;
}

.Phonetic a:hover {
  background: white;
  color: #112d4e;
}

.Phonetic .text {
  opacity: 0.5;
  font-weight: bold;
}
